/* TODO's:
            - Footer an Bottom fixieren
*/

*{
    font-family: 'Open Sans', sans-serif;
}
.footer{
   position:absolute;
   box-shadow: none !important;
}
.navbar{
    -webkit-box-shadow: -3px 2px 21px -1px rgba(0,0,0,0.88);
-moz-box-shadow: -3px 2px 21px -1px rgba(0,0,0,0.88);
box-shadow: -3px 2px 21px -1px rgba(0,0,0,0.88);
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.nav-link{
    color: white !important;
    background-color:#4c60aa !important;
}
.navbar-expand-lg{
    color: white !important;
    background-color:#4c60aa !important;
}
.nav-link:hover {
    text-decoration: underline !important;
}
.active-element{
    color: #8093d8 !important;
    font-weight: bold;
}
.list-group li{
    background-color:#4c60aab1;
    color: white;
}
.card:hover{
 cursor: pointer;
 background-color: rgb(240, 240, 240) !important;
 /*font-size: 105%;*/
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  color: white;
}

.eventlist, .locationlist{
  background: #4c60aa28 !important;
  -webkit-box-shadow: -4px 20px 31px 23px rgba(0,0,0,0.15);
  -moz-box-shadow: -4px 20px 31px 23px rgba(0,0,0,0.15);
  box-shadow: -4px 20px 31px 23px rgba(0,0,0,0.15);
}
